.main{
    padding: 100px;
}
.input-area{
    margin-top: 50px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgb(192, 188, 188);
    border-radius: 10px;
}
#transection-area{
    display: none;
}

.status{
    padding: 20px;
    margin: 0px 20px;
    color: #fff;
    border-radius: 10px;
}
.deposit{
    background: orange;
}
.withdrow{
    background: tomato;
}
.balance{
    background: steelblue;
}
.depost-area{
    margin-top: 50px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgb(192, 188, 188);
    border-radius: 10px;
}